html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(70, 70, 70);
  color: white;
}

* {
  user-select: none;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.promote-img {
  cursor: pointer;
  outline: transparent solid 2px;
}

.promote-img:hover {
  outline-color: black;
  z-index: 501;
}
